{% extends "heritagesites/base.html" %}
{% block content %}

<!-- safe filter on for raw HTML stored in database -->

<h2>{{site.site_name | safe}}</h2>

{% if site.description %}
  <div class="row">
    <div class="col-sm-2">
      <p>Description</p>
    </div>
    <div class="col-sm-10">
      <p>{{site.description | safe}}</p>
    </div>
  </div>
{% endif %}


{% if site.justification %}
  <div class="row">
    <div class="col-sm-2">
      <p>Justification</p>
    </div>
    <div class="col-sm-10">
      <p>{{site.justification | safe}}</p>
    </div>
  </div>
{% endif %}


{% if site.date_inscribed %}
  <div class="row">
    <div class="col-sm-2">
      <p>Date inscribed</p>
    </div>
    <div class="col-sm-10">
      <p>{{site.date_inscribed}}</p>
    </div>
  </div>

{% endif %}


{% if site.latitude and site.longitude %}
  <div class="row">
    <div class="col-sm-2">
      <p>Geo coordinates</p>
    </div>
    <div class="col-sm-4">
      <p>{{site.latitude}}, {{site.longitude}} (<span style="font-style:italic">lat</span>.,
      <span style="font-style:italic">long</span>.)</p>
    </div>
  </div>
{% endif %}

{% if site.area_hectares %}
  <div class="row">
    <div class="col-sm-2">
      <p>Area Hectares</p>
    </div>
    <div class="col-sm-10">
      <p>{{site.area_hectares | safe}}</p>
    </div>
  </div>
{% endif %}

{% if site.heritage_site_category %}
  <div class="row">
    <div class="col-sm-2">
      <p>Heritage Site Category</p>
    </div>
    <div class="col-sm-10">
      <p>{{site.heritage_site_category | safe}}</p>
    </div>
  </div>
{% endif %}

{% endblock content %}